/*body {*/

/*}*/


#modal {

    height:     100%;
    width:      100%;
    background-color:red;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

/* Anytime the body has the loading class, our
   modal element will be visible */


#canvas-wrap{
    position:relative;
}
#canvas{
    /*background: radial-gradient(#67655e, rgb(0, 0, 0));*/

    background-image: url("b2.svg");
    /*-webkit-animation: backgroundScroll 20s linear infinite;*/
    /*animation: backgroundScroll 20s linear infinite;*/
    /*background: #2BC0E4; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to left, #2BC0E4 , #EAECC6); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    height:575px;
    width: 100%;
    overflow: hidden;
    /*border-style: ridge;*/
    position:absolute;
}

/*@-webkit-keyframes backgroundScroll {*/
    /*from {background-position: 0 0;}*/
    /*to {background-position: -400px 0;}*/
/*}*/

/*@keyframes backgroundScroll {*/
    /*from {background-position: 0 0;}*/
    /*to {background-position: -400px 0;}*/
/*}*/

#text{
    position: absolute;
    left: 39%;
    z-index:100;
    top: 185px;
    font-size: 100px;
    width:200px; height:200px;
    color: #d7c763;
    pointer-events:none;
    text-shadow: 0 1px 0 #565656,
    0 2px 0 #4c4f4d,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    -webkit-animation: blur 2s, fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: blur 2s, fadein 4s; /* Firefox < 16 */
    -o-animation: blur 2s, fadein 4s; /* Opera < 12.1 */
    animation: blur 2s, fadein 4s;
}

@-webkit-keyframes blur {
    0%, 100%  { -webkit-filter: blur(0px); }
    50% { -webkit-filter: blur(10px); }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



#trail {
    box-shadow: 1px 1px 100px 10px #ffef73;
    left:47%;
    top: 250px;
    /*Temp fix*/
    width: 60px;
    height: 60px;
    background: radial-gradient(circle at 50% 120%, #fff908, #ffee2a 10%, #b1a61e 80%, #454011 100%);
    opacity:1.0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position:absolute;
    z-index:10;
    font: normal 20px Verdana, Arial, sans-serif;
    text-align:center;
    -webkit-animation: my-anim 4s  ease-out infinite;
    animation: my-anim 4s  ease-out infinite;
}

#dot {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    left: 50%;
    bottom: 20%;
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 5px;
    pointer-events: none;
    background: radial-gradient(circle at 50% 0px, #ececec, rgba(255, 255, 255, 0) 58%);
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite;

}

@-webkit-keyframes bubble-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); }

    20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05); }

    48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9); }

    68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02); }

    80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98); }

    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1); } }
@keyframes bubble-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); }

    20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05); }

    48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9); }

    68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02); }

    80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98); }

    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1); }}


#circle{
    box-shadow: 1px 1px 100px 10px #ffef73;
    left:47%;
    top: 250px;
    /*Temp fix*/
    width: 60px;
    height: 60px;
    background: radial-gradient(circle at 50% 120%, #fff908, #ffee2a 10%, #b1a61e 80%, #454011 100%);
    opacity:1.0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position:absolute;
    z-index:10;
    font: normal 20px Verdana, Arial, sans-serif;
    text-align:center;
    -webkit-animation: my-anim 4s  ease-out infinite;
    animation: my-anim 4s  ease-out infinite;
}

@-webkit-keyframes my-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); }

    20% {
        -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
        transform: scale(1.07);}

    60% {
        -webkit-transform: scale(0.96);
        transform: scale(0.96);}


    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1); }
}
@keyframes my-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); }

    20% {
        -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
        transform: scale(1.07);}

    60% {
        -webkit-transform: scale(0.96);
        transform: scale(0.96);}

    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1); }}



#circle:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #e6e6e6, rgba(255, 255, 255, 0) 58%);
    filter: blur(5px);
}


