#canvas-wrap{
    position:relative;
}

#canvas{
    background: radial-gradient(#67655e, rgb(0, 0, 0));
    width: 1000px;
    border-style: ridge;
    height: 500px;
    position:absolute;
    left:30px;
}

#dot {

    background-color:red;
    border-radius: 50%;
    left:250px;
    width:40px;
    height:40px;
    position:absolute;
    margin:5px;
}


#circle{
    left:100px;
    top: 100px;
    /*Temp fix*/
    width: 60px;
    height: 60px;
    background: radial-gradient(circle at 50% 120%, #fff908, #ffee2a 10%, #b1a61e 80%, #454011 100%);
    opacity:1.0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position:absolute;
    z-index:10;
}

#circle:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
    filter: blur(5px);
}

