/*body {*/

/*}*/



/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

/* Anytime the body has the loading class, our
   modal element will be visible */

html, body {
    height: 100%;
    margin: 0;
}


#canvas-wrap{
    position:relative;
    height:100%;
}

#loading{
    position:absolute;
    z-index:1001;
    background-color: #ffffff;
    width:100%;
    height:100%;

}
#loading p{
    text-align: center;
    line-height: 15px;
    font: 70px Tahoma, Helvetica, Arial, Sans-Serif;
    color: #707070;
    font-size: 180%;
    text-shadow: 0 2px 3px #c1c1c1;
}

#loader{
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    z-index:1002;
    background-color: #faff19;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;

}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
      }
}
#canvas{
    /*background: radial-gradient(#67655e, rgb(0, 0, 0));*/
    background-color: #4c4f4d;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*background-image: url("b2.svg");*/
    height:100%;
    width: 100%;
    overflow: hidden;
    /*border-style: ridge;*/
    position:absolute;
}



#text{
    position: absolute;
    font: 100px Tahoma, Helvetica, Arial, Sans-Serif;
    left: 40%;
    z-index:100;
    top: 185px;
    width:200px; height:200px;
    color: #f9ee90;
    pointer-events:none;
    text-shadow: 0 1px 0 #565656,
    0 2px 0 #4c4f4d,
    0 3px 0 #babb4a,
    0 4px 0 #b6b92e,
    0 5px 0 #a9aa39,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    -webkit-animation: blur 2s, fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: blur 2s, fadein 4s; /* Firefox < 16 */
    -o-animation: blur 2s, fadein 4s; /* Opera < 12.1 */
    animation: blur 2s, fadein 4s;
}

@-webkit-keyframes blur {
    0%, 100%  { -webkit-filter: blur(0px); }
    50% { -webkit-filter: blur(10px); }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



#trail {
    box-shadow: 1px 1px 100px 10px #ffef73;
    left:47%;
    top: 250px;
    /*Temp fix*/
    width: 60px;
    height: 60px;
    background: radial-gradient(circle at 50% 120%, #fff908, #ffee2a 10%, #b1a61e 80%, #454011 100%);
    opacity:1.0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position:absolute;
    z-index:10;
    font: normal 20px Verdana, Arial, sans-serif;
    text-align:center;
    -webkit-animation: my-anim 4s  ease-out infinite;
    animation: my-anim 4s  ease-out infinite;
}

#dot {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    left: 50%;
    bottom: 20%;
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 5px;
    pointer-events: none;
    z-index:2;
    /*background: radial-gradient(circle at 50% 0px, #ececec, rgba(255, 255, 255, 0) 58%);*/
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite;

}

@-webkit-keyframes bubble-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); }

    20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05); }

    48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9); }

    68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02); }

    80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98); }

    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1); } }
@keyframes bubble-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); }

    20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05); }

    48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9); }

    68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02); }

    80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98); }

    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1); }}


#circle{
    box-shadow: 1px 1px 100px 10px #ffef73;
    left:47%;
    top: 250px;
    /*Temp fix*/
    width: 60px;
    height: 60px;
    background: radial-gradient(circle at 50% 120%, #fff908, #ffee2a 10%, #b1a61e 80%, #454011 100%);
    opacity:1.0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position:absolute;
    z-index:10;
    font: normal 20px Verdana, Arial, sans-serif;
    text-align:center;
    -webkit-animation: my-anim 4s  ease-out infinite;
    animation: my-anim 4s  ease-out infinite;
}

@-webkit-keyframes my-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); }

    20% {
        -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
        transform: scale(1.07);}

    60% {
        -webkit-transform: scale(0.96);
        transform: scale(0.96);}


    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1); }
}
@keyframes my-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); }

    20% {
        -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
        transform: scale(1.07);}

    60% {
        -webkit-transform: scale(0.96);
        transform: scale(0.96);}

    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1); }}



#circle:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #e6e6e6, rgba(255, 255, 255, 0) 58%);
    filter: blur(5px);
}

#flashlight {
    pointer-events:none;
    opacity: 0.6;
    position:absolute;
    z-index:1;
    left:37.5%;
    top: 130px;
    height:300px;
    width:300px;
    border-radius:150px;
    background-color:#ffef73;
    box-shadow:1px 1px 100px #ffef73;
}


